<div class="mainleft">
            <div class="mainleftinner">

                <div class="leftmenu">
                    <ul>
                        <li class="current" style=""><a class="dashboard" href="./dashboard.html"><span><em>Dashboard</em></span></a><div class="menutip">Dashboard</div><div class="menutip">Dashboard</div><div class="menutip">Dashboard</div><div class="menutip">Dashboard</div></li>
                        <li style=""><a class="widgets" href="./widgets.html"><span><em>Widgets</em></span></a><div class="menutip">Widgets</div><div class="menutip">Widgets</div><div class="menutip">Widgets</div><div class="menutip">Widgets</div></li>
                        <li style=""><a class="tables" href="./tables.html"><span><em>Tables</em></span></a><div class="menutip">Tables</div><div class="menutip">Tables</div><div class="menutip">Tables</div><div class="menutip">Tables</div></li>
                        <li style=""><a class="elements" href="./elements.html"><span><em>Elements</em></span></a><div class="menutip">Elements</div><div class="menutip">Elements</div><div class="menutip">Elements</div><div class="menutip">Elements</div></li>
                        <li style=""><a class="charts" href="./charts.html"><span><em>Graphs &amp; Charts</em></span></a><div class="menutip">Graphs &amp; Charts</div><div class="menutip">Graphs &amp; Charts</div><div class="menutip">Graphs &amp; Charts</div><div class="menutip">Graphs &amp; Charts</div></li>
                        <li style=""><a class="media" href="./media.html"><span><em>Media</em></span></a><div class="menutip">Media</div><div class="menutip">Media</div><div class="menutip">Media</div><div class="menutip">Media</div></li>
                        <li style=""><a class="editor menudrop" href="./form.html"><span><em>Forms</em></span></a><div class="menutip">Forms</div><div class="menutip">Forms</div><div class="menutip">Forms</div><div class="menutip">Forms</div>
                            <ul style="display: none;">
                                <li style=""><a href="./form.html"><span><em>Form Styling</em></span></a><div class="menutip">Form Styling</div><div class="menutip">Form Styling</div><div class="menutip">Form Styling</div><div class="menutip">Form Styling</div></li>
                                <li style=""><a href="./editor.html"><span><em>WYSIWYG Editor</em></span></a><div class="menutip">WYSIWYG Editor</div><div class="menutip">WYSIWYG Editor</div><div class="menutip">WYSIWYG Editor</div><div class="menutip">WYSIWYG Editor</div></li>
                                <li style=""><a href="./wizard.html"><span><em>Wizard</em></span></a><div class="menutip">Wizard</div><div class="menutip">Wizard</div><div class="menutip">Wizard</div><div class="menutip">Wizard</div></li>
                            </ul>
                        </li>
                        <li style=""><a class="grid" href="./grid.html"><span><em>Grid</em></span></a><div class="menutip">Grid</div><div class="menutip">Grid</div><div class="menutip">Grid</div><div class="menutip">Grid</div></li>
                        <li style=""><a class="calendar" href="./calendar.html"><span><em>Calendar</em></span></a><div class="menutip">Calendar</div><div class="menutip">Calendar</div><div class="menutip">Calendar</div><div class="menutip">Calendar</div></li>
                        <li style=""><a class="buttons" href="./buttons.html"><span><em>Buttons &amp; Icons</em></span></a><div class="menutip">Buttons &amp; Icons</div><div class="menutip">Buttons &amp; Icons</div><div class="menutip">Buttons &amp; Icons</div><div class="menutip">Buttons &amp; Icons</div></li>
                        <li style=""><a class="chat" href="./chat.html"><span><em>Chat Support</em></span></a><div class="menutip">Chat Support</div><div class="menutip">Chat Support</div><div class="menutip">Chat Support</div><div class="menutip">Chat Support</div></li>
                        <li style=""><a class="error" href="./404.html"><span><em>Error Pages</em></span></a><div class="menutip">Error Pages</div><div class="menutip">Error Pages</div><div class="menutip">Error Pages</div><div class="menutip">Error Pages</div></li>
                    </ul>

                </div><!--leftmenu-->
                <div id="togglemenuleft" style="display: block;"><a class="toggle"></a></div>
            </div><!--mainleftinner-->
        </div>